{{view 'fullpage-view'}} {{view 'malihu-view'}}

{{!-- <div id="header">Header</div>
<div id="footer"></div> --}}

<div id="fullpage">
  <div class="section " id="section0">
    {{!--
    <div class="top-border"></div> --}}
    <div class="row">
      <div class="small-12 medium-12 large-12 small-centered columns">
        {{!--
        <header> --}}
          <h1>RealFeelz</h1>
          <h2>What's Real For You Right Now?</h2> {{!-- </header> --}}
      </div>
      <div class="small-12 medium-12 large-12 small-centered columns">
        <form {{action "postStatement" newPost on="submit" }}>
          {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard" id="textbox"}} {{textarea placeholder="what's real for you right now?" class="classy-text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
          <button class="button" type="submit" id="clearButton">Post</button>
        </form>
      </div>
    </div>
  </div>

  <div class="section" id="section2">
{{!--     <div class="row">
      <div class="small-12 medium-12 large-12 small-centered columns">
      </div>
    </div> --}}
    <div class="row full-page">
      <div class="small-12 medium-12 large-12 small-centered columns">
        <div id="demo">
          <section id="examples">
            {{!--
            <div id="content-1" class="content"> --}}
              <div class="content mCustomScrollbar" data-mcs-theme="minimal">
                {{!--
                <h2>theme: "minimal"</h2>
                <hr /> --}}
                <ul class="truth-container">
                  {{#each}}
                  <p class="truths">{{body}}</p>
                  <hr> {{/each}}
                </ul>
                <hr />
                <p>End of content.</p>
              </div>
              {{!-- </div> --}}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
