{{view 'stickykit-view'}}
{{view 'flickerplate-view'}}

<body style="display: block;" data-icon-font="icomoon" data-ui="stripe" class="invert">
  <a href="#" class="navigation-trigger icon-menu small-show scroll-position"></a>
  <nav class="absolute">
    <div class="contain">
      <ul class="navigation">
        <li>
          <a href="http://getwebplate.com#download">GET WEBPLATE</a>
        </li>
        <li>
          <a href="http://getwebplate.com/documentation">DOCUMENTATION</a>
        </li>
        <li>
          <a href="#">UI KITS<span class="icon-angle-down"></span></a>
        </li>
        <li>
          <ul>
            <li>
              <a href="http://getwebplate.com/bower_components/webplate/project/ui/quill/example.html">Quill UI</a>
            </li>
            <li>
              <a href="http://getwebplate.com/bower_components/webplate/project/ui/stripe/example.html">Stripe UI</a>
            </li>
          </ul>
        </li>
      <li>
        <a href="#">PLUGINS</a>
        <ul>
          <li>
            <a href="http://getwebplate.com/plugins/blueplate">Blueplate</a>
          </li>
          <li>
            <a href="http://getwebplate.com/plugins/buttonplate">Buttonplate</a>
          </li>
          <li>
            <a href="http://getwebplate.com/plugins/flickerplate">Flickerplate</a>
          </li>
          <li><a href="http://getwebplate.com/plugins/formplate">Formplate</a>
          </li>
          <li><a href="http://getwebplate.com/plugins/modalplate">Modalplate</a>
          </li>
          <li><a href="http://getwebplate.com/plugins/penplate">Penplate</a>
        </li>
        </ul>
      </li>
      </ul>
      <div class="logo-container">
        <a href="http://getwebplate.com" class="logo-line">WEBPLATE</a>
      </div>
    </div>
  </nav>

  <header class="stripe full">
    <div class="flickerplate">
      <div class="slideshow bg-image">
{{!--         <div class="arrow-navigation left"></div>
        <div class="arrow-navigation right"></div> --}}
        <ul class="flicks">
          <li data-background="https://ununsplash.imgix.net/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=75&fm=jpg&s=2857080adb1de5db2cbddb6d230954bc">
            <div class="flick-inner">
              <div class="flick-content">
                <div class="flick-title">{{#link-to 'index'}}RealFeelz{{/link-to}}</div>
                <div class="flick-title">What's Real For You Right Now?</div>
              </div>
            </div>
          </li>
          <li data-background="https://unsplash.imgix.net/reserve/wVlfnlTbRtK8eGvbnBZI_VolkanOlmez_005.jpg?q=75&fm=jpg&s=de70d125f08a3fbb40d6b9984af5c3ad">
            <div class="flick-inner">
              <div class="flick-content">
                <div class="flick-title">{{#link-to 'index'}}Confession{{/link-to}}</div>
              </div>
            </div>
          </li>
          <li data-background="https://unsplash.imgix.net/uploads/14116941824817ba1f28e/78c8dff1?q=75&fm=jpg&s=eed337dca5e9e4ca8b8d23513e6b9bf6">
            <div class="flick-inner">
              <div class="flick-content">
                <div class="flick-title">{{#link-to 'index'}}Truth{{/link-to}}</div>
              </div>
            </div>
          </li>
          <li data-background="https://ununsplash.imgix.net/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?q=75&fm=jpg&s=871d9503e2cbec376305a97d64ff3b23">
            <div class="flick-inner">
              <div class="flick-content">
                <div class="flick-title">{{#link-to 'index'}}Awareness{{/link-to}}</div>
              </div>
            </div>
          </li>
          <li data-background="https://unsplash.imgix.net/reserve/tlC8KhNJR0CA2xdomLfx_DSC_0358-2.jpg?q=75&fm=jpg&s=c5c66c8958c2c6ddced808e608302fe7">
            <div class="flick-inner">
              <div class="flick-content">
                <div class="flick-title">{{#link-to 'index'}}Connection{{/link-to}}</div>
              </div>
            </div>
          </li>
        </ul>
{{!--       </div>
    </div> --}}
</header>

<div class="group">
  <div id="sticky_item">
    <div class="truths-submit">
      <div class="container">
        <div class="row">
          <div class="ten columns offset-by-one textarea">
            <form {{action "postStatement" newPost on="submit" }}>
              {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
              <div id="recaptcha"></div>
              <div class="status-text">
                {{#if verifyingCaptcha}}
                <p>Verifying Captcha...</p>
                {{/if}} {{#if showingCaptcha}}
                <p>Getting a Captcha...</p>
                {{/if}} {{#if captchaVerified }}
                <p>Now that we know you are a human, hit post again to share.</p>
                {{/if}} {{#if tryAgain}}
                <p>Try again...</p>
                {{/if}}
              </div>
              <button class="button radius" type="submit">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="truths-list">
    <div class="container">
      <div class="row">
        <div class="ten columns offset-by-one">
            <ul>
              {{#each}}
              <p class="truths">{{body}}</p>
              {{/each}}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="twelve columns offset-by-one">
          <ul>
            <li>&copy;2014 {{#link-to 'flickerplate'}}RealFeelz{{/link-to}}</li>
            <li>{{#link-to 'flickerplate'}}About{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="stripe dark footer">
    <div class="container">
      <div class="row">
      <br>
      </div>
    </div>
  </div>

</body>